@font-face {
    src: url('./assets/fonts/CormorantGaramond-Italic.ttf');
    font-family: 'Cormorant Garamond'; 
    font-style: italic;
}

p, h4 {
    font-family: 'Cormorant Garamond' sans-serif;
    font-style: italic;
    font-size: large;
    color: rgb(16, 12, 66);
}

a:link {
    color: rgb(16, 12, 66);
}

.flexconteiner {
    display: flex;
}

header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

main {
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 75vh;
}

#left {
    width: 50%;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background: radial-gradient(circle, rgba(255,215,233,1) 0%, rgba(148,187,233,1) 100%);
}

#more {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#right {
    width: 50%;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/image/sparkle-png-free-images-with-transparent-background-4-45944.png);
    background: radial-gradient(circle, rgba(255,215,233,1) 0%, rgba(148,187,233,1) 100%);
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
}

nav li {
	display: flex;
	margin-right: 60px;
}

a:link{
    text-decoration: none;
}
a:hover {
    color:white;
}

footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    font-family:'Cormorant Garamond' sans-serif;
    font-style: italic;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.image {
    width: 70%;
    height: 80%;
    transition: transform 0.5s;
}

.image:hover {
transform: scale(2);
}