.flexconteiner {
    display: flex;
}

header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: grey;
}

main {
    justify-content: space-around;
    width: 100vw;
    height: 75vh;
}

#left {
    width: 70%;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(249, 204, 137);
}

#more {
    display: flex;
    justify-content: space-around;
    gap: 300px;
    flex-wrap: wrap;
    align-items: center;
}


aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(246, 186, 97);
}

#right {
    width: 30%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(141, 168, 141);
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
}

nav li {
	display: flex;
	margin-right: 60px;
    background-color: rgb(243, 238, 238);
}

footer {
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: grey;
}