.flexconteiner {
    display: flex;
}

header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
}

main {
    justify-content: space-around;
    width: 100vw;
    height: 75vh;
}

#left {
    border: solid black;
    width: 50%;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

#more {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#right {
    width: 50%;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
}

nav li {
	display: flex;
	margin-right: 60px;
}

footer {
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
}